@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

@font-face {
    font-family: Circular;
    src: url(../fuentes/CircularStd-Book.otf);
}

@font-face {
    font-family: CircularMedium;
    src: url(../fuentes/CircularStd-Medium.otf);
}

@font-face {
    font-family: CircularBold;
    src: url(../fuentes/CircularStd-Bold.otf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
$color1: #282828;
$color2: #404040;
$color3: #9F9F9F;
$color4: #E3E3E3;
$color5: #FFFFFF;
$font1: Circular;

/* -----   CONTAINER SIZE ----- */
// 1 - baseLayout
$base__layout__witdh: 100vw;
$base__layout__height: 100vh;
// 1.1 navUP
$navUp__witdh: $base__layout__witdh;
$navUp__height: $base__layout__height * 0.07;
// 1.2 divFlex
$divFlex__width: $base__layout__witdh;
$divFlex__height: auto;
//1.2.2 navDown
$navDown__width: $divFlex__width;
$navDown__height:$base__layout__height * 0.07;
//1.2.1 contentConatiner
$contentContainer__width: $divFlex__width;
$contentContainer__height: ($base__layout__height - $navUp__height - $navDown__height);
//1.2.1.1 ComponentContainer
$componentContainer__width: $contentContainer__width;
//1.2.1.1.1 zapatillasContainer
$zapatillasContainer__width: $componentContainer__width;
$zapatillasContainer__height: 240px;
//1.2.1.1.2 zapatillasShop
$zapatillasShop__width: $componentContainer__width;
$zapatillasShop__height: auto;
//1.2.1.1.3 GraficoBoardContainer
$graficoBoard__widht: $componentContainer__width;
$graficoBoard__height: 200px;
//1.2.1.1.3.1 GraficoContainer
$grafico__widht: $graficoBoard__widht * 0.4;
$grafico__height: $graficoBoard__height;
//1.2.1.1.3.2 BoardContainer
$board__widht: $graficoBoard__widht * 0.6;
$board__height: $graficoBoard__height;
//1.2.1.2 SocialContainer
$social__witdh: $contentContainer__width;






body {
    background-color: $color1;
    font-family: $font1;
    // #################--- LAYOUT ---##################
    .baseLayout{
        background-color: #282828;
        width: $base__layout__witdh;
        height: $base__layout__height;
        display: flex;
        flex-direction: column;
        // #################--- ENCABEZADO NAVIGATION UP ---##################
        .navUp{
            background-color: #E3E3E3;
            width: $navUp__witdh;
            height: $navUp__height;
            display: flex;
            align-items: center;
            justify-content: space-between;
            .logo{
                background-color: blueviolet;
                width: 50px;
                height: 50px;
            }
            .navContent{
                background-color: yellowgreen;
                width: ($navUp__witdh * 0.75);
                height: 50px;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: right;
                gap: 6px;
                .navbtn{
                    background-color: blueviolet;
                    width: 40px;
                    height: 40px;
                    border-radius: 20px;
                }
                .btn1{
                    .search{
                        display: none;
                    }
                }
            }
        }
        .divFlex{
            width: $divFlex__width;
            height: $divFlex__height;
            // #################--- CONTENIDO PRINCIPAL---##################
            .contentContainer{
                background-color: #9F9F9F;
                width: $contentContainer__width;
                height: $contentContainer__height;
                overflow-x: scroll;
                display: flex;
                flex-direction: column;
                .componentContainer{
                    background-color: khaki;
                    width: $componentContainer__width;
                    // #################--- ZAPATILLAS COMPONENT---##################
                    .zapatillasComponent{
                        background-color: $color3;
                        width: $zapatillasContainer__width;
                        height: $zapatillasContainer__height;
                    }
                    // #################--- ZAPATILLAS SHOP COMPONENT ---##################
                    .zapatillasShop{
                        background-color: blue;
                        width: $zapatillasShop__width;
                        height: $zapatillasShop__height;
                        .row{
                            .contenedorZapatillaShop{
                                .zapatillaShoper {
                                    min-height: 135px;
                                    min-width: 120px;
                                    border: 1px solid $color2;
                                    border-radius: 1.7em;
                                    background: linear-gradient(320deg, $color1, $color2);
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    transition: ease all .25s;
                                    img {
                                        height: 120px;
                                        width: auto;
                                    }
                                
                                    &:hover {
                                        border: 3px solid $color3;
                                    }
                                
                                }
                                
                                .contenedorCompraShop {
                                    display: flex;
                                    margin-top: 15px;
                                    
                                    .textoCarta {
                                        display: flex;
                                        flex-direction: column;
                                        width: 100%;
                                        
                                        .nombreZapatillasShop {
                                            margin-top: 5%;
                                            font-size: 1em;
                                            line-height: 6px;
                                            font-size: 14px;
                                        }
                                
                                        .precioShop {
                                            color: $color3;
                                            margin: 0;
                                            font-size: 14px;
                                        }
                                    }
                                
                                    .contenedorPrecioBotonShop {
                                        display: flex;
                                        width: min-content;
                                        justify-content: space-between;
                                        align-items: flex-start;
                                
                                        .botonShop {
                                            background-color: $color1;
                                            border-radius: 20px;
                                            padding: 4px 15px 4px 15px;
                                            color: $color5;
                                            border: 1px solid $color5;
                                            font-size: 12px;
                                            transition: ease all .25s;
                                
                                            &:hover {
                                                background-color: $color2;
                                            }
                                
                                            &:active {
                                                background-color: $color3;
                                            }
                                        }
                                    }
                                }

                            }

                        }
                    }
                    .graficoBoardContainer{
                        background-color: lightcoral;
                        width: $graficoBoard__widht;
                        height: $graficoBoard__height;
                        display: flex;
                        flex-direction: row;
                        // #################--- GRAFICO COMPONENT---##################
                        .graficoContainer{
                            background-color: rgb(39, 88, 39);
                            width: $grafico__widht;
                            height: $grafico__height;
                        }
                        // #################--- BOARD COMPONENT ---##################
                        .boardContainer{
                            background-color: lightgrey;
                            width: $board__widht;
                            height: $board__height;
                        }
                    }
                    
                }
                // #################--- SOCIAL COMPONENT ---##################
                .socialComponent {
                    width: $social__witdh;
                    height: auto;
                    border: 2px solid none;
                    border-radius: 1.7em;
                    background: linear-gradient(to top, #282828, #404040);
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-evenly;
                    gap: 10px;
                    .social{
                        padding: 3px;
                        width: fit-content;
                        .social--tittle{
                            color: white;
                            font-size: larger;
                            padding-left: 5px;
                            padding-top: 7px;
                            margin-bottom: 0px;
                        }
                        .social--costumer{
                            color: #9F9F9F;
                            font-size: small;
                            padding-left: 5px;
                            margin-top: 0px;
                        }
                        .socialCostumersList{
                            padding-left: 5px;
                            display: flex;
                            flex-direction: column;
                            gap: 7px;
                            .costumer{
                                display: flex;
                                align-items: flex-start;
                                column-gap: 10px;
                                .costumerPhoto{
                                    background-image: url(../img/costumer.jpg);
                                    background-repeat: no-repeat;
                                    background-size: contain;
                                    border-radius: 30px;
                                    width: 40px;
                                    height: 40px;
                                    display: flex;
                                    flex-direction: column-reverse;
                                    align-items: flex-end;
                                    .colorOnline{
                                        width: 10px;
                                        height: 10px;
                                        background-color: lime;
                                        border-radius: 4px;
                                        
                                    }
                                    .colorOffline{
                                        width: 10px;
                                        height: 10px;
                                        background-color: red;
                                        border-radius: 4px;
                                        
                                    }
                                }
                                .costumerDescription{
                                    width: 70px;
                                    padding-left: 5px;
                                    font-size: x-small;
                                    color: white;
                                    .costumerName{
                                        p{
                                            font-size: 12px;
                                            margin-bottom: 0px;
                                        }
                                    }
                                    .costumerStatus{
                                        p{
                                            font-size: x-small;
                                            color: #9F9F9F;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .line{
                        background: linear-gradient(to top, #404040, #9F9F9F);
                        width: 2px;
                        height: 400px;
                        align-self: center;
                    }
                    .events{
                        width: fit-content;
                        margin-top: 5px;
                        padding-left: 10px;
                        .eventTittle{
                            color: white;
                            font-size: larger;
                            padding-left: 5px;
                            padding-top: 7px;
                            margin-bottom: 7px;
                        }
                        .eventList{
                            display: flex;
                            flex-direction: column;
                            gap: 7px;
                            padding: 5px;
                            .event{
                                display: flex;
                                gap: 10px;
                                .eventDate{
                                    background-image: url(../img/date.jpg);
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    background-position: center;
                                    border-radius: 10px;
                                    width: 40px;
                                    height: 40px;
                                }
                                .eventDescription{
                                    padding-left: 5px;
                                    font-size: x-small;
                                    .eventName{
                                        color: white;
                                        text-transform: capitalize;
                                    }
                                    .eventLocation{
                                        color: $color3;
                                    }
                                }
                            }
                            .event1{
                                padding-top: 20px;
                            }
                        }
                    }
                }
            }
            // -----+++++----- FOOTER Navigation Down -----+++++-----
            .navDown{
                background-color: #E3E3E3;
                border-radius: 40px;
                width: $navDown__width;
                height: $navDown__height;
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 30px;
                .navbtn{
                    background-color: khaki;
                    width: 40px;
                    height: 40px;
                    border-radius: 10px;
                }
            }
        }
    }
}

// @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@    MEDIA QUERY    @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@

@media (min-width: 540px) {
    
    /* -----   CONTAINER SIZE ----- */
    
    // 1.2 divFlex
    $divFlex__width: $base__layout__witdh;
    $divFlex__height: auto;
    //1.2.2 navDown
    $navDown__width: $divFlex__width * 0.09;
    $navDown__height:$base__layout__height - $navUp__height;
    //1.2.1 contentConatiner
    $contentContainer__width: $divFlex__width - $navDown__width;
    $contentContainer__height: ($base__layout__height - $navUp__height);
    //1.2.1.1 ComponentContainer
    $componentContainer__width: ($contentContainer__width * 0.75);
    //1.2.1.1.1 zapatillasContainer
    $zapatillasContainer__width: $componentContainer__width;
    $zapatillasContainer__height: 240px;
    //1.2.1.1.2 zapatillasShop
    $zapatillasShop__width: $componentContainer__width;
    $zapatillasShop__height: auto;
    //1.2.1.1.3 GraficoBoardContainer
    $graficoBoard__widht: $componentContainer__width;
    $graficoBoard__height: 240px;
    //1.2.1.1.3.1 GraficoContainer
    $grafico__widht: $graficoBoard__widht;
    $grafico__height: $graficoBoard__height;
    //1.2.1.1.3.2 BoardContainer
    $board__widht: $graficoBoard__widht;
    $board__height: $graficoBoard__height;
    //1.2.1.2 SocialContainer
    $social__witdh: $contentContainer__width * 0.25;
    
    
    
    // #################--- LAYOUT ---##################
    body{
        background-color: #9F9F9F;
        .baseLayout{
            background-color: antiquewhite;
            // #################--- ENCABEZADO ---##################
            .navUp{
                background-color: #404040;
                .navContent{
                    width: ($navUp__witdh * 0.9);
                    .navbtn{
                        background-color: violet;
                    }
                    .btn1{
                        width: 300px;
                        display: flex;
                        align-items: center;
                        margin-right: auto;
                        
                        .search{
                            display: initial;
                            
                            input{
                                border-radius: 20px;
                                width: 300px;
                                height: 40px;
                            }
                        }
                    }
                }
            }
            .divFlex{
                display: flex;
                flex-direction: row-reverse;
                // #################--- COMPONENT CONTAINER---##################
                .contentContainer{
                    background-color: aqua;
                    width: $contentContainer__width;
                    height: $contentContainer__height;
                    flex-direction: row;
                    .componentContainer{
                        width: $componentContainer__width;
                        // #################--- ZAPATILLAS COMPONENT ---##################
                        .zapatillasComponent{
                            background-color: $color3;
                            width: $zapatillasContainer__width;
                            height: $zapatillasContainer__height;
                        }
                        // #################---  ZAPATILLAS SHOP COMPONENT ---##################
                        .zapatillasShop{
                            background-color: blue;
                            width: $zapatillasShop__width;
                            height: $zapatillasShop__height;
                        }
                        .graficoBoardContainer{
                            background-color: lightcoral;
                            width: $graficoBoard__widht;
                            height: $graficoBoard__height;
                            display: flex;
                            flex-direction: row;
                            // #################---  GRAFICO COMPONENT ---##################
                            .graficoContainer{
                                background-color: rgb(39, 88, 39);
                                width: $grafico__widht;
                                height: $grafico__height;
                            }
                            // #################--- BOARD COMPONENT ---##################
                            .boardContainer{
                                background-color: lightgrey;
                                width: $board__widht;
                                height: $board__height;
                            }
                        }
                        
                    }
                    // #################--- SOCIAL COMPONENT ---##################
                    .socialComponent {
                        width: $social__witdh;
                        height: fit-content;
                        background: linear-gradient(to top, #282828, #404040);
                        padding: 10px, 0px, 0px, 10px;
                        justify-content: flex-start;
                        flex-direction: column;
                        align-items: flex-start;
                        gap: 5px;
                        .social{
                            width: $social__witdh;
                            .social--tittle{
                                font-size: medium;
                            }
                            .social--costumer{
                                font-size: x-small;
                            }
                            .socialCostumersList{
                                padding-top: 0px;
                                padding-left: 4px;
                                gap: 1px;
                                .costumer{
                                    column-gap: 7px;
                                    .costumerPhoto{
                                        width: 30px;
                                        height: 30px;
                                        .colorOnline{
                                            width: 7px;
                                            height: 7px;
                                        }
                                        .colorOffline{
                                            width: 7px;
                                            height: 7px;
                                        }
                                    }
                                    .costumerDescription{
                                        width: 85px;
                                        .costumerName{
                                            p{
                                                font-size: 9px;
                                            }
                                        }
                                        .costumerStatus{
                                            p{
                                                font-size: xx-small;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .line{
                            background-color: $color3;
                            width: 50px;
                            height: 2px;
                            align-self: initial;
                            margin-left: 12px;
                            border-radius: 1px;
                            
                        }
                        .events{
                            width: $social__witdh;
                            margin-top: 3px;
                            .eventTittle{
                                font-size: medium;
                                padding-top: 0;
                                margin-bottom: 2px;
                            }
                            .eventList{
                                display: flex;
                                flex-direction: column;
                                gap: 1px;
                                padding: 0px, 5px, 0px, 5px;
                                .event{
                                    display: flex;
                                    gap: 7px;
                                    .eventDate{
                                        width: 30px;
                                        height: 30px;
                                    }
                                    .eventDescription{
                                        font-size: xx-small;
                                        .eventName{
                                            margin-bottom: 0px;
                                            padding: 0px;
                                            p{
                                                padding: 0;
                                                margin: 0;
                                            }
                                        }
                                        .eventLocation{
                                            margin-top: 0px;
                                            padding: 0px;
                                        }
                                    }
                                }
                                .event1{
                                    padding-top: 20px;
                                }
                            }
                        }
                    }
                }    
                .navDown{
                    background-color: blue;
                    width: $navDown__width;
                    height: $navDown__height;
                    flex-direction: column;
                    justify-content: flex-start;
                    border-radius: 0px;
                    .navbtn1{
                        margin-top: 15px;
                    }
                    .navbtn5{
                        margin-top: auto;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}





