@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");
@font-face {
  font-family: Circular;
  src: url(../fuentes/CircularStd-Book.otf);
}

@font-face {
  font-family: CircularMedium;
  src: url(../fuentes/CircularStd-Medium.otf);
}

@font-face {
  font-family: CircularBold;
  src: url(../fuentes/CircularStd-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Variables */
/* -----   CONTAINER SIZE ----- */
body {
  background-color: #282828;
  font-family: Circular;
}

body .baseLayout {
  background-color: #282828;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .baseLayout .navUp {
  background-color: #E3E3E3;
  width: 100vw;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .baseLayout .navUp .logo {
  background-color: blueviolet;
  width: 50px;
  height: 50px;
}

body .baseLayout .navUp .navContent {
  background-color: yellowgreen;
  width: 75vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 6px;
}

body .baseLayout .navUp .navContent .navbtn {
  background-color: blueviolet;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

body .baseLayout .navUp .navContent .btn1 .search {
  display: none;
}

body .baseLayout .divFlex {
  width: 100vw;
  height: auto;
}

body .baseLayout .divFlex .contentContainer {
  background-color: #9F9F9F;
  width: 100vw;
  height: 86vh;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .baseLayout .divFlex .contentContainer .componentContainer {
  background-color: khaki;
  width: 100vw;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasComponent {
  background-color: #9F9F9F;
  width: 100vw;
  height: 240px;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop {
  background-color: blue;
  width: 100vw;
  height: 300px;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop .zapatillaShoper {
  min-height: 135px;
  min-width: 120px;
  border: 1px solid #404040;
  border-radius: 1.7em;
  background: linear-gradient(320deg, #282828, #404040);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop .zapatillaShoper:hover {
  border: 3px solid #9F9F9F;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop .zapatillaShoper img {
  height: 120px;
  width: auto;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop .nombreZapatillasShop {
  margin-top: 5%;
  font-size: 1em;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop .contenedorCompraShop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop .contenedorCompraShop .textoCarta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop .contenedorCompraShop .textoCarta .nombreZapatillasShop {
  line-height: 6px;
  font-size: 14px;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop .contenedorCompraShop .textoCarta .precioShop {
  color: #9F9F9F;
  margin: 0;
  font-size: 14px;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop .contenedorCompraShop .contenedorPrecioBotonShop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop .contenedorCompraShop .contenedorPrecioBotonShop .botonShop {
  background-color: #282828;
  border-radius: 20px;
  padding: 4px 15px 4px 15px;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  font-size: 12px;
  -webkit-transition: ease all .25s;
  transition: ease all .25s;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop .contenedorCompraShop .contenedorPrecioBotonShop .botonShop:hover {
  background-color: #404040;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop .contenedorCompraShop .contenedorPrecioBotonShop .botonShop:active {
  background-color: #9F9F9F;
}

body .baseLayout .divFlex .contentContainer .componentContainer .graficoBoardContainer {
  background-color: lightcoral;
  width: 100vw;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .baseLayout .divFlex .contentContainer .componentContainer .graficoBoardContainer .graficoContainer {
  background-color: #275827;
  width: 40vw;
  height: 200px;
}

body .baseLayout .divFlex .contentContainer .componentContainer .graficoBoardContainer .boardContainer {
  background-color: lightgrey;
  width: 60vw;
  height: 200px;
}

body .baseLayout .divFlex .contentContainer .socialComponent {
  background-color: lightcoral;
}

body .baseLayout .divFlex .navDown {
  background-color: #E3E3E3;
  border-radius: 40px;
  width: 100vw;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

body .baseLayout .divFlex .navDown .navbtn {
  background-color: khaki;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

@media (min-width: 540px) {
  /* -----   CONTAINER SIZE ----- */
  body {
    background-color: #9F9F9F;
  }
  body .baseLayout {
    background-color: antiquewhite;
  }
  body .baseLayout .navUp {
    background-color: #404040;
  }
  body .baseLayout .navUp .navContent {
    width: 90vw;
  }
  body .baseLayout .navUp .navContent .navbtn {
    background-color: violet;
  }
  body .baseLayout .navUp .navContent .btn1 {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
  }
  body .baseLayout .navUp .navContent .btn1 .search {
    display: initial;
  }
  body .baseLayout .navUp .navContent .btn1 .search input {
    border-radius: 20px;
    width: 300px;
    height: 40px;
  }
  body .baseLayout .divFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body .baseLayout .divFlex .contentContainer {
    background-color: aqua;
    width: 91vw;
    height: 93vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .baseLayout .divFlex .contentContainer .componentContainer {
    width: 68.25vw;
  }
  body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasComponent {
    background-color: #9F9F9F;
    width: 68.25vw;
    height: 240px;
  }
  body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop {
    background-color: blue;
    width: 68.25vw;
    height: 160px;
  }
  body .baseLayout .divFlex .contentContainer .componentContainer .graficoBoardContainer {
    background-color: lightcoral;
    width: 68.25vw;
    height: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .baseLayout .divFlex .contentContainer .componentContainer .graficoBoardContainer .graficoContainer {
    background-color: #275827;
    width: 68.25vw;
    height: 240px;
  }
  body .baseLayout .divFlex .contentContainer .componentContainer .graficoBoardContainer .boardContainer {
    background-color: lightgrey;
    width: 68.25vw;
    height: 240px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent {
    width: 91vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumerPhoto {
    width: 50px;
    height: 50px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumerDescription {
    font-size: small;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .line {
    height: 2px;
    width: 72.8vw;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event .eventDate {
    width: 50px;
    height: 50px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event .eventDescription {
    font-size: small;
  }
  body .baseLayout .divFlex .navDown {
    background-color: blue;
    width: 9vw;
    height: 93vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 0px;
  }
  body .baseLayout .divFlex .navDown .navbtn1 {
    margin-top: 15px;
  }
  body .baseLayout .divFlex .navDown .navbtn5 {
    margin-top: auto;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */