@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Variables */
/* -----   CONTAINER SIZE ----- */
body {
  background-color: #282828;
  font-family: "Proza Libre", sans-serif;
}

body .baseLayout {
  background-color: #282828;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .baseLayout .navUp {
  background-color: #E3E3E3;
  width: 100vw;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .baseLayout .navUp .logo {
  background-color: blueviolet;
  width: 50px;
  height: 50px;
}

body .baseLayout .navUp .navContent {
  background-color: yellowgreen;
  width: 75vw;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  gap: 6px;
}

body .baseLayout .navUp .navContent .navbtn {
  background-color: blueviolet;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

body .baseLayout .navUp .navContent .btn1 .search {
  display: none;
}

body .baseLayout .divFlex {
  width: 100vw;
  height: auto;
}

body .baseLayout .divFlex .contentContainer {
  background-color: #9F9F9F;
  width: 100vw;
  height: 86vh;
  overflow-x: scroll;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .baseLayout .divFlex .contentContainer .componentContainer {
  background-color: khaki;
  width: 100vw;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasComponent {
  background-color: #9F9F9F;
  width: 100vw;
  height: 240px;
}

body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop {
  background-color: blue;
  width: 100vw;
  height: 300px;
}

body .baseLayout .divFlex .contentContainer .componentContainer .graficoBoardContainer {
  background-color: lightcoral;
  width: 100vw;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .baseLayout .divFlex .contentContainer .componentContainer .graficoBoardContainer .graficoContainer {
  background-color: #275827;
  width: 40vw;
  height: 200px;
}

body .baseLayout .divFlex .contentContainer .componentContainer .graficoBoardContainer .boardContainer {
  background-color: lightgrey;
  width: 60vw;
  height: 200px;
}

body .baseLayout .divFlex .contentContainer .socialComponent {
  width: 100vw;
  height: auto;
  border: 2px solid none;
  border-radius: 1.7em;
  background: -webkit-gradient(linear, left bottom, left top, from(#282828), to(#404040));
  background: linear-gradient(to top, #282828, #404040);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .social {
  padding: 3px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .social--tittle {
  color: white;
  font-size: larger;
  padding-left: 5px;
  padding-top: 7px;
  margin-bottom: 0px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .social--costumer {
  color: #9F9F9F;
  font-size: small;
  padding-left: 5px;
  margin-top: 0px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList {
  padding-left: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-column-gap: 10px;
          column-gap: 10px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer .costumerPhoto {
  background-image: url(../img/costumer1.png);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer .costumerPhoto .colorOnline {
  width: 10px;
  height: 10px;
  background-color: lime;
  border-radius: 4px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer .costumerPhoto .colorOffline {
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 4px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer .costumerDescription {
  width: 70px;
  padding-left: 5px;
  font-size: x-small;
  color: white;
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer .costumerDescription .costumerName p {
  font-size: 12px;
  margin-bottom: 0px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer .costumerDescription .costumerStatus p {
  font-size: x-small;
  color: #9F9F9F;
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer1 .costumerPhoto {
  background-image: url(../img/costumer1.png);
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer2 .costumerPhoto {
  background-image: url(../img/costumer2.png);
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer3 .costumerPhoto {
  background-image: url(../img/costumer3.png);
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer4 .costumerPhoto {
  background-image: url(../img/costumer4.png);
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer5 .costumerPhoto {
  background-image: url(../img/costumer5.png);
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer6 .costumerPhoto {
  background-image: url(../img/costumer6.png);
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer7 .costumerPhoto {
  background-image: url(../img/costumer7.png);
}

body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer8 .costumerPhoto {
  background-image: url(../img/costumer8.png);
}

body .baseLayout .divFlex .contentContainer .socialComponent .line {
  background: -webkit-gradient(linear, left bottom, left top, from(#404040), to(#9F9F9F));
  background: linear-gradient(to top, #404040, #9F9F9F);
  width: 2px;
  height: 400px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

body .baseLayout .divFlex .contentContainer .socialComponent .events {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 5px;
  padding-left: 10px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .events .eventTittle {
  color: white;
  font-size: larger;
  padding-left: 5px;
  padding-top: 7px;
  margin-bottom: 7px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 7px;
  padding: 5px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event .eventDate {
  background-image: url(../img/date.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  width: 40px;
  height: 40px;
}

body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event .eventDescription {
  padding-left: 5px;
  font-size: x-small;
}

body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event .eventDescription .eventName {
  color: white;
  text-transform: capitalize;
}

body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event .eventDescription .eventLocation {
  color: #9F9F9F;
}

body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event1 {
  padding-top: 20px;
}

body .baseLayout .divFlex .navDown {
  background-color: #E3E3E3;
  border-radius: 40px;
  width: 100vw;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

body .baseLayout .divFlex .navDown .navbtn {
  background-color: khaki;
  width: 40px;
  height: 40px;
  border-radius: 10px;
}

@media (min-width: 540px) {
  /* -----   CONTAINER SIZE ----- */
  body {
    background-color: #9F9F9F;
  }
  body .baseLayout {
    background-color: antiquewhite;
  }
  body .baseLayout .navUp {
    background-color: #404040;
  }
  body .baseLayout .navUp .navContent {
    width: 90vw;
  }
  body .baseLayout .navUp .navContent .navbtn {
    background-color: violet;
  }
  body .baseLayout .navUp .navContent .btn1 {
    width: 300px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-right: auto;
  }
  body .baseLayout .navUp .navContent .btn1 .search {
    display: initial;
  }
  body .baseLayout .navUp .navContent .btn1 .search input {
    border-radius: 20px;
    width: 300px;
    height: 40px;
  }
  body .baseLayout .divFlex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
  body .baseLayout .divFlex .contentContainer {
    background-color: aqua;
    width: 91vw;
    height: 93vh;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .baseLayout .divFlex .contentContainer .componentContainer {
    width: 68.25vw;
  }
  body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasComponent {
    background-color: #9F9F9F;
    width: 68.25vw;
    height: 240px;
  }
  body .baseLayout .divFlex .contentContainer .componentContainer .zapatillasShop {
    background-color: blue;
    width: 68.25vw;
    height: 160px;
  }
  body .baseLayout .divFlex .contentContainer .componentContainer .graficoBoardContainer {
    background-color: lightcoral;
    width: 68.25vw;
    height: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  body .baseLayout .divFlex .contentContainer .componentContainer .graficoBoardContainer .graficoContainer {
    background-color: #275827;
    width: 68.25vw;
    height: 240px;
  }
  body .baseLayout .divFlex .contentContainer .componentContainer .graficoBoardContainer .boardContainer {
    background-color: lightgrey;
    width: 68.25vw;
    height: 240px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent {
    width: 22.75vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px, 0px, 0px, 10px;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 5px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social .social--tittle {
    font-size: medium;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social .social--costumer {
    font-size: x-small;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList {
    padding-top: 0px;
    padding-left: 4px;
    gap: 1px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer {
    -webkit-column-gap: 7px;
            column-gap: 7px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer .costumerPhoto {
    width: 30px;
    height: 30px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer .costumerPhoto .colorOnline {
    width: 7px;
    height: 7px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer .costumerPhoto .colorOffline {
    width: 7px;
    height: 7px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer .costumerDescription {
    width: 85px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer .costumerDescription .costumerName p {
    font-size: 9px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .social .socialCostumersList .costumer .costumerDescription .costumerStatus p {
    font-size: xx-small;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .line {
    background-color: #9F9F9F;
    width: 50px;
    height: 2px;
    -ms-flex-item-align: initial;
        -ms-grid-row-align: initial;
        align-self: initial;
    margin-left: 12px;
    border-radius: 1px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .events {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 3px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .events .eventTittle {
    font-size: medium;
    padding-top: 0;
    margin-bottom: 2px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1px;
    padding: 0px, 5px, 0px, 5px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 7px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event .eventDate {
    width: 30px;
    height: 30px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event .eventDescription {
    font-size: xx-small;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event .eventDescription .eventName {
    margin-bottom: 0px;
    padding: 0px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event .eventDescription .eventName p {
    padding: 0;
    margin: 0;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event .eventDescription .eventLocation {
    margin-top: 0px;
    padding: 0px;
  }
  body .baseLayout .divFlex .contentContainer .socialComponent .events .eventList .event1 {
    padding-top: 20px;
  }
  body .baseLayout .divFlex .navDown {
    background-color: blue;
    width: 9vw;
    height: 93vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    border-radius: 0px;
  }
  body .baseLayout .divFlex .navDown .navbtn1 {
    margin-top: 15px;
  }
  body .baseLayout .divFlex .navDown .navbtn5 {
    margin-top: auto;
    margin-bottom: 20px;
  }
}
/*# sourceMappingURL=style.css.map */