@import url('https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variables */
$color1: #282828;
$color2: #404040;
$color3: #9F9F9F;
$color4: #E3E3E3;
$color5: #FFFFFF;
$font1: 'Proza Libre', sans-serif;
/* Css */
body {
    background-color: $color1;
    color: $color5;
    font-family: $font1;
}
.cuerpo {
    display: flex; 
}


/* Navegador - principio */
.navegador {
    width: 5%;
    height: 100vh;
    border-left: 1px solid $color5;
    border-right: 1px solid $color5;
    box-shadow: 0px 0px 2px 2px $color4;
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* Navegador - fin */
.contenido {
    width: 100%;
}

/* Header - principio */
.encabezado {
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin: 20px 0px;
}
/* Header - fin */
.DivisorDeContenido {
    display: flex;
}
/* ContenidoPrincipal - principio */
.contenedorPrincipal {
    width: 70%;
}
.contenedorZapatillasPopulares {
    justify-content: space-around;
    margin-bottom: 3%;
}
.zapatillasPopulares {
    background-color: $color5;
    color: $color1;
    padding: 2%;
    border-radius: 1.7em;
}
.primeraZapatilla {
    width: 50%;
}
.segundaZapatilla {
    width: 20%;
}
.terceraZapatillaYCuartaZapatilla {
    width: 20%;
}
.terceraZapatilla, .cuartaZapatilla {
    width: 100%;
    padding: 5%;
    height: 48%;
    margin-bottom: 4%;
    border-radius: 1.7em;
}
.cuartaZapatilla {
    margin-bottom: 0;
}
/* Shop - principio */
.contenedorHeaderShop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    h2 {
        font-size: 1.5em;
    }
}
.zapatillaShop {
    min-height: 180px;
    min-width: 180px;
    border: 1px solid $color2;
    border-radius: 1.7em;
    background: linear-gradient(320deg, $color1, $color2);
}
.nombreZapatillasShop {
    margin-top: 5%;
    font-size: 1em;
}
.contenedorPrecioBotonShop {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    .botonShop {
        background-color: $color1;
        border-radius: 0.9em;
        padding: 0% 5%;
        color: $color5;
        border: 1px solid $color5;
    }
    p {
        color: $color3;
        margin: 0;
    }
}
/* Shop - fin */

/* Shop - principio */

/* Shop - fin */

/* Shop - principio */

/* Shop - fin */

/* ContenidoPrincipal - fin */

/* Aside - principio */
$social__witdh: 87vw;
.costado {
    width: 25%;
    margin-right: 2%;
    border: 2px solid $color5;
    height: 90vh;
    border-radius: 1.7em;
}
.socialComponent {
    width: $social__witdh;
    border: 2px solid $color5;
    border-radius: 1.7em;
    background: linear-gradient(to top, #282828, #404040);
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;

    .social{
        width: ($social__witdh / 2);
        .social--tittle{
            color: white;
            font-size: larger;
            padding-left: 5px;
        }
        .social--costumer{
            color: white;
            font-size: medium;
            padding-left: 5px;
        }
        .socialCostumersList{
            padding-left: 5px;
            .costumer{
                display: flex;
                align-items: flex-start;
                column-gap: 10px;
                .costumerPhoto{
                    background-image: url(../img/costumer.jpg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    border-radius: 30px;
                    width: 40px;
                    height: 40px;
                }
                .costumerDescription{
                    width: 70px;
                    padding-left: 5px;
                    font-size: x-small;
                    color: white;
                }
            }
        }
    }
    .line{
        background-color: $color3;
        width: 2px;
        height: 500px;
        align-self: center;
    }
    .events{
        width: ($social__witdh / 2);
        margin-top: 5px;
        padding-left: 10px;
        .eventList{
            padding: 5px;
            .event{
                display: flex;
                gap: 10px;
                .eventDate{
                    background-image: url(../img/date.jpg);
                    background-repeat: no-repeat;
                    background-size: cover;
                    background-position: center;
                    border-radius: 10px;
                    width: 40px;
                    height: 40px;
                }
                .eventDescription{
                    color: white;
                    padding-left: 5px;
                    font-size: x-small;
                }
            }
            .event1{
                padding-top: 20px;
            }
        }
    }
}
@media (min-width: 558px) {
    .socialComponent{
        flex-direction: column;
        align-items: center;
        .social{
            .socialCostumersList{
                .costumerPhoto{
                    width: 50px;
                    height: 50px;
                }
                .costumerDescription{
                    font-size: small;
                }
            }
        }
        .line{
            height: 2px;
            width: ($social__witdh * 0.8);
        }
        .events{
            .eventList{
                .event{
                    .eventDate{
                        width: 50px;
                        height: 50px;
                    }
                    .eventDescription{
                        font-size: small;
                    }
                }
            }
        }
    }

}
/* Aside - fin */
